.ngrid
	position relative
	font 14px/22px "Trebuchet MS", Tahoma, sans-serif
	-moz-osx-font-smoothing grayscale
	-webkit-font-smoothing antialiased
	box-shadow #ddd 0 0 0 1px
	border-radius 2px
	table
		width 100%
		margin 0
		max-width none
		border-collapse collapse
		border-spacing 0
		empty-cells show
		border-width 0
		outline 0
		table-layout fixed



/* Header */

$header-bg-color = #495566
$header-border-color = #2E2E2E

.ngrid__header__wrapper
	background-color $header-bg-color
	padding-right 15px
	no-select()
	box-shadow $header-border-color 0 0 0 1px
	border-radius 2px 2px 0 0

.ngrid__header
	position relative
	width 100%
	overflow hidden
	border-right 1px solid $header-border-color
	zoom 1

.ngrid__header__col
	height 30px
	border-left 1px solid $header-border-color
	padding 0 8px
	cursor default
	position: relative
	vertical-align middle
	white-space nowrap
	font-weight: normal
	text-align left
	color #fff
	no-select()
	&:first-child
		border-left 0

.ngrid__header__col__grip
	width: 10px
	height: 100%
	background-color: transparent
	position: absolute
	right: -5px
	top: 0
	cursor: col-resize
	z-index: 10



/* Content */

$row-odd-bg-color   = #fff
$row-even-bg-color  = #fafafa
$cell-border-color  = #e5e5e5

.ngrid__content
	max-height (30px + 1px) * 10 + 15px - 1px
	overflow-x auto
	overflow-y scroll
	margin-top: 1px

.ngrid__content__row
	margin-top -1px
	background-color $row-odd-bg-color
	&:nth-child(even)
		background-color $row-even-bg-color
	&:first-child
		.ngrid__content__cell
			border-top 0
	&:last-child
		margin-bottom 60px
	
.ngrid__content__cell
	height 30px
	padding 0 8px
	border 1px solid $cell-border-color
	cursor default
	white-space nowrap
	text-overflow ellipsis
	vertical-align middle
	font-size 14px
	&:first-child
		border-left: 0



/* Footer */

.ngrid__footer
	height: 28px
	&:after
		content ''
		display: block
		width: 0
		height: 0
		line-height: 0
		font-size: 0
		clear both

.ngrid__navig
	margin 4px 0 0 4px
	float left
