display-inline-block()
	display: -moz-inline-stack
	display: inline-block
	vertical-align: top
	zoom: 1
	//*display: inline

no-select()
	-webkit-touch-callout: none
	-webkit-user-select: none
	-moz-user-select: none
	user-select: none
