/* Colors */

$color_ocean          = #1fcd54
$color_ocean_hover    = #1cb94c
$color_ocean_active   = #189a40

$color_blue           = #30bafe
$color_blue_hover     = #2ca5e1
$color_blue_active    = #2697cf

$color_yellow         = #FECC30
$color_yellow_hover   = #EABB29
$color_yellow_active  = #DDAA0B

$color_red            = #fa6b5b

$color_orange         = #ed6b43


/* Variables */

$icons-font = 'Simple-Line-Icons'

$page-bg-color          = #F8F7F1
$page-bg-color_darken   = darken($page-bg-color, 3%)
$page-border-color      = darken($page-bg-color, 16%)
$default-text-color     = #333 //#11465e
$light-text-color       = #999 //#93A2A9
$default-border-color   = #E0E0E0

$l-sidebar-width              = 260px
$l-sidebar_minimized-width    = 60px
$header-height                = 60px
