$grid-head-bg-color: #495566;
$grid-head-border-color: #2E2E2E;
$grid-body-border-color: #dbdbde;
$grid-row-even-bg-color: #fafafa;


.POSABS {
	position: absolute !important;
	right: -99999px;
}

.ngrid {
	overflow: visible;

	@include box-shadow($default-border-color 0 0 0 1px);
	@include border-radius(3px);
	@include no-select;
}

.ngrid__header__wrapper {
	height: 34px;
	background-color: $grid-head-bg-color;
	position: relative;
	overflow: hidden;

	@include box-shadow(#2E2E2E 0 0 0 1px);
	@include border-top-radius(3px);
}

.ngrid__header {
	height: 34px;
	position: absolute;
	top: 0;
	left: 0;

	white-space: nowrap;
	color: #fff;
}

.ngrid__header__cell {
	height: 34px;
	line-height: 34px;
	position: relative;
	cursor: default;

	@include display-inline-block;

	&:first-letter {
		text-transform: capitalize;
	}
}

.ngrid__header__cell__text {
	overflow: hidden;
	border-right: 1px solid $grid-head-border-color;
	padding: 0 6px;

	font-size: 14px;
}

.ngrid__header__cell__grip {
	width: 10px;
	height: 100%;
	background-color: transparent;
	position: absolute;
	right: -5px;
	top: 0;
	cursor: col-resize;
	z-index: 10;
}

.ngrid__body__wrapper {
	width: 100%;
	margin-top: 1px;
	min-height: 138px;
	max-height: 464px;
	overflow: scroll;
}

.ngrid__body {

}

.ngrid__row {
	white-space: nowrap;
}

.ngrid__row_last {

	.ngrid__cell__container {
		margin-bottom: 60px;
	}
}

.ngrid__row_even {
	background: $grid-row-even-bg-color;
}

.ngrid__cell {
	cursor: default;

	.ngrid_disabled & {
		background-color: #F0F0F0;
	}
}

.ngrid__cell_disabled {

	.ngrid__cell__container {
		background-color: #F0F0F0;
	}

	.ngrid__cell__textvalue {
		color: #808080 !important;
	}
}

.ngrid__cell_focused {

	.ngrid__cell__container {
		background-color: nth($teal, 3);
	}

	.ngrid__cell__textvalue {
		color: #fff !important;
	}
}

.ngrid__cell__container {
	height: 30px;
	line-height: 30px;
	border-right: 1px solid $grid-body-border-color;
	border-bottom: 1px solid $grid-body-border-color;
}

.ngrid__cell__textvalue {
	overflow: hidden;
	padding: 0 8px;

	.ngrid_disabled & {
		color: #808080;
	}
}

.ngrid__cell__editor {

	input {
		width: 100%;
		height: 29px;
		padding: 0 8px;
	}
}

.ngrid__cell__allocated-status {
	width: 10px;
	height: 10px;
	background: #FF4444 !important;

	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;

	@include border-radius(5px);
	@include no-select;
}

.ngrid__cell__allocated-status_allocated {
	background: #72E235 !important;
}
