.ngrid__menu {
	float: left;

	font-size: 0;
}

.ngrid__menu__item {

}

.ngrid__menu__item_add-row,
.ngrid__menu__item_save {

	.ngrid_disabled & {
		background: #aaa !important;
		border-color: #aaa !important;

		color: #fff !important;
	}
}

.ngrid__menu__item_edit {
	display: none;

	.ngrid_disabled & {

		@include display-inline-block;
	}
}

.ngrid__menu__item_cancel {

	.ngrid_disabled & {
		display: none;
	}
}
