.ngrid__footer {
	background-color: #fff;
	padding: 5px;

	@include no-select;
	@include border-bottom-radius(3px);

	.b-select {
		height: 26px;
		line-height: 26px;
		margin-left: 0;

		select {
			font-size: 13px;
		}
	}

	&:after {
		content: '';
		display: block;
		width: 0;
		height: 0;
		font-size: 0;
		clear: both;
	}
}

.ngrid__footer__r-part {
	font-size: 0;
	float: right;
}

.ngrid__footer__vr {
	width: 1px;
	height: 36px;
	margin: -5px 5px;
	background: $grid-body-border-color;

	@include display-inline-block;
}
