/* Colors */

$gray:      #eee;

$blue:      #def4ff, #cbecfb,
            #24ADFA, #1E9EE6,
            #80919E, #11465e;

$teal:      #9DF5E8 #4EECD5 #06C5A9;

$green:     #EDFFE3 #98d179 #6cbd40;

$orange:    #f29578, #ed6b43;

$red:       #FFC4C4, #ECA4A4, #CC4E4E, #FF4646;


/* Variables */

$page-bg-color: #F1F4F8;
$default-border-color: #ddd;
$default-font-color: nth($blue, 6);
