script(type="text/ng-template" id="input.html")
	input(ng-model="value")

script(type="text/ng-template" id="modal-with-grid.html")
	input(ng-model="value")

script(type="text/ng-template" id="modal-with-form.html")
	input(ng-model="value")

script(type="text/ng-template" id="list-modal-instance.html")
	n-grid.modal-grid(options='gridOptions')
