.b-btn {
	border: 1px solid transparent;
    cursor: pointer;

    text-decoration: none !important;
    text-align: center;
    white-space: nowrap;

	box-sizing: content-box !important;
    @include no-select;

    input {
        position: absolute;
        left: -99999px;
    }

	span, i {
		line-height: inherit;
	}

    &.active,
    &.disabled {
        cursor: default;
    }

	&[disabled],
    &.disabled {
        background: #aaa !important;
        border-color: #aaa !important;
		color: #333 !important;
    }
}

.b-btn_empty {
	background: none;

	&:hover {
		color: #fff !important;
	}
}

.b-btn_full {
	color: #fff !important;
}

.b-btn_s {
	height: 20px;
	line-height: 20px;
	padding: 0 8px;
	font-size: 13px;

	@include border-radius(2px);
}

.b-btn_m {
	height: 28px;
	line-height: 28px;
	padding: 0 14px;
	font-size: 15px;

	@include border-radius(3px);
}

.b-btn_l {
	height: 38px;
	line-height: 38px;
	padding: 0 20px;
	font-size: 17px;

	@include border-radius(3px);
}

.b-btn_w100 {
	display: block;
}

.b-btns-list {
	font-size: 0;
	white-space: nowrap;

	@include display-inline-block;

    .b-btn {
        margin-left: 6px;
	    vertical-align: top;

        &:first-child {
            margin-left: 0;
        }
    }

	input[type=text] {
		border: 1px solid #ddd;
		background: #fff;
		padding: 0 5px;
		margin-left: 6px;
		vertical-align: top;

		color: #333;

		box-sizing: content-box !important;
		@include border-radius(3px);
		@include display-inline-block;

		&:first-child {
			margin-left: 0;
		}
	}
}

.b-btns_s-list {

	input[type=text] {
		height: 20px;
		line-height: 20px;
		font-size: 14px;
	}
}

.b-btns_m-list {

	input[type=text] {
		height: 28px;
		line-height: 28px;
		font-size: 16px;
	}
}

.b-btns_l-list {

	input[type=text] {
		height: 38px;
		line-height: 38px;
		font-size: 18px;
	}
}



.b-btn_simple {

	&.b-btn_empty {
		border: 1px solid #ddd;
		color: $default-font-color;

		&:hover,
		&:active {
			background: #ddd;
		}
	}

	&.b-btn_full {
		background: #eee;
		color: $default-font-color;

		&:hover {

		}

		&:active {

		}
	}
}

.b-btn_white {

    &.b-btn_empty {
        border-color: #fff;
        color: #fff;

        &:hover {
            background: #fff;
            color: nth($blue, 3);
        }
    }

    &.b-btn_full {
        background: #fff;
        color: nth($blue, 3);

        &:hover {

        }

        &:active {

        }
    }
}

.b-btn_gray {

	&.b-btn_full {
		background: #ccc;
		color: $default-font-color;

		&:hover {
			background: darken(#ccc, 5);
		}

		&:active {
			background: darken(#ccc, 10);
		}
	}
}

.b-btn_blue {

    &.b-btn_empty {
        border-color: nth($blue, 3);
        color: nth($blue, 3);

        &:hover {
            background: nth($blue, 3);
        }
    }

    &.b-btn_full {
        background: nth($blue, 3);

        &:hover {
            background: nth($blue, 4);
        }

        &:active {
            background: darken(nth($blue, 4), 10);
        }
    }
}

.b-btn_green {

    &.b-btn_empty {
        border-color: nth($green, 3);
        color: nth($green, 3);

        &:hover {
            background: nth($green, 3);
        }
    }

    &.b-btn_full {
        background: nth($green, 3);

        &:hover {
            background: nth($green, 2);
        }

        &:active {
            background: darken(nth($green, 2), 10);
        }
    }
}

.b-btn_teal {

	&.b-btn_empty {
		border-color: nth($teal, 3);
		color: nth($teal, 3);

		&:hover {
			background: nth($teal, 3);
		}
	}

	&.b-btn_full {
		background: nth($teal, 3);

		&:hover {
			background: nth($teal, 2);
		}

		&:active {
			background: darken(nth($teal, 2), 10);
		}
	}
}

.b-btn_orange {

    &.b-btn_empty {
        border-color: nth($orange, 2);
        color: nth($orange, 2);

        &:hover {
            background: nth($orange, 2);
        }
    }

    &.b-btn_full {
        background: nth($orange, 2);

        &:hover {
            background: nth($orange, 1);
        }

        &:active {
            background: darken(nth($orange, 1), 10);
        }
    }
}

.b-btn_red {

    &.b-btn_empty {
        border-color: nth($red, 4);
        color: nth($red, 4);

        &:hover {
            background: nth($red, 4);
        }
    }

    &.b-btn_full {
        background: nth($red, 4);

        &:hover {
            background: nth($red, 3);
        }

        &:active {
            background: darken(nth($red, 3), 10);
        }
    }
}




.b-btn_fb {
    background: #3a579d;

    &:hover {
        background: #4564af;
    }

    &:active {
        background: #344e8c;
    }
}
